* {
    box-sizing: border-box;
    font-family: "Fira Sans";
}

body {
    background: #2ba84a;
}

nav {
    overflow: hidden;
    background: #040f0f;
}

nav a {
    float: left;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #1db954;
    font-size: 17px;
}

nav a.icon {
    display: none;
    color: #ffffff;
}

nav a:hover {
    color: #ffffff;
    background-color: #248232;
}

nav a.active {
    color: #040f0f;
    background-color: #fcfffc;
}

.container {
    margin-top: 10px;
    overflow-x: auto;
    background: #2d3a3a;
    color: #ffffff;
}

.container table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.container table th,
td {
    text-align: left;
    padding: 8px;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive {
        position: relative;
    }
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.swal-link {
    color: #2196f3;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}